.container {
  width: 100%;
  display: flex;
  gap: 10px;
}
.todoInput {
  height: 40px;
  padding: 8px 12px;
  flex: 1;
  border: none;
  border-bottom: 2px solid #ddd;
}
.primaryColor {
  color: #747bff;
}